<form (ngSubmit)="crearEntrenador(formularioEntrenador)"
    #formularioEntrenador="ngForm">

  <div>
    <label for="nombreID">NOMBRE</label>
    <input id="nombreID"
           type="text"
           name="nombre"
           [(ngModel)]="nombre"
           required
           #nombreCampo="ngModel"
    >
  </div>


  <div>
    <label for="edadID">EDAD</label>
    <input id="edadID"
           type="number"
           name="edad"
           [(ngModel)]="edad"
           required
           minlength="3"
           maxlength="100"
           #EdadCampo="ngModel"
    >
  </div>


  <div>
    <label for="regionID">REGION</label>
    <input id="regionID"
           type="text"
           name="region"
           [(ngModel)]="region"
           required
           #regionCampo="ngModel"
    >
  </div>


  <button type="submit" [disabled]="!formularioEntrenador.form.valid">
    Submit
  </button>
  <button type="reset">
    Reset
  </button>


</form>
